[submodule "extras/powerlevel9k"]
	path = extras/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
[submodule "extras/powerline-fonts"]
	path = extras/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "libbash"]
	path = libbash
	url = https://github.com/jekotia/libbash.git
[submodule "extras/awesome-terminal-fonts"]
	path = extras/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "extras/dircolors-solarized"]
	path = extras/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "extras/nanorc"]
	path = extras/nanorc
	url = https://github.com/scopatz/nanorc.git
