[submodule "extras/powerline-fonts"]
	path = extras/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "libbash"]
	path = libbash
	url = https://github.com/jekotia/libbash.git
[submodule "extras/awesome-terminal-fonts"]
	path = extras/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "extras/dircolors-solarized"]
	path = extras/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "extras/nanorc"]
	path = extras/nanorc
	url = https://github.com/scopatz/nanorc.git
[submodule "extras/mintty-colors-solarized"]
	path = extras/mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized.git
[submodule "extras/powerlevel10k"]
	path = extras/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".tmux/plugins/tmux-cpu"]
	path = .tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule ".tmux/plugins/tmux-net-speed"]
	path = .tmux/plugins/tmux-net-speed
	url = https://github.com/tmux-plugins/tmux-net-speed.git
[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = .tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-sidebar"]
	path = .tmux/plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-colors-solarized"]
	path = .tmux/plugins/tmux-colors-solarized
	url = https://git::@github.com/seebi/tmux-colors-solarized
