[core]
        editor = nano
[user]
        email = contact@jekotia.net
        name = Josh 'Jekotia' Ameli
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
